h1 {
    color: black;
    font-size: 36px;
}

h2 {
    color: black;
    font-size: 22px;
}

.body {
    border: 1px solid black;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: auto;
    flex-wrap: wrap;
}

.food-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-gap: 12px;
}

.left,
.right,
.item {
    flex: 1;
}


/* body {
    background-color: beige;
} */